[submodule ".registry"]
	path = .registry
	url = https://github.com/maxmlang/maxmlang.r-universe.dev
	branch = HEAD
[submodule "hexsmoothR"]
	path = hexsmoothR
	url = https://github.com/MaxMLang/hexsmoothR
